*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#kleur {
  display: flex;
  flex-flow: row wrap;
}

.kleuren {
  width: 25px;
  height: 25px;
  border: solid 1px black;
  cursor: pointer;
  transition: 1s;
}
